#portfolio h2{
  color:#f49ac1;
}

.pages-home{
  header{
    border-top: 5px solid $brand-alternate;
  }
  #what-im-doing{
    padding: 0 0;
    // -webkit-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //  -moz-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //       box-shadow: 0px 0px 20px 0px $brand-alternate;
  }
 
  #recognition{
    padding: 0 0;
    // -webkit-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //  -moz-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //       box-shadow: 0px 0px 20px 0px $brand-alternate;
  }

   #posts{
    padding: 0 0;
    // -webkit-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //  -moz-box-shadow: 0px 0px 20px 0px $brand-alternate;
    //       box-shadow: 0px 0px 20px 0px $brand-alternate;
  }
  .grid-section{
    padding: 0 0;
    > .grid-item{
      transition: all .2s ease-in-out;
      border-bottom: 1px dotted #DCDCDC;
      border-top: 1px dotted #DCDCDC;
      text-decoration: none;
      cursor:pointer;

      padding: 0;
      padding-top: 75px;

      color: $brand-main;

      .grid-heading{
        margin: 0 auto;
        h3{
          text-align: center;
          font-size: 3em; 
        }
      }
      .grid-content{
        padding-top: 15px;
        p{
          text-align: center;

        }
      }
      
      height: 300px;
    
    }

    a:hover{
      // color: $brand-alternate !important;
      border-bottom: 1px dotted $brand-third;
      border-top: 1px dotted $brand-third;
    }
     > :first-child{
      border-right: 1px dotted #DCDCDC;

    }
    > :first-child:hover{
      border-right: 1px dotted $brand-third;
      margin-right: -1px;

    }
     > :last-child{
      border-left: 1px dotted #DCDCDC;
      margin-left: -1px;

    }
    > :last-child:hover{
      margin-left: -1px;
      border-left: 1px dotted $brand-third;

    }

  }

  #about{
    background-color:#f49ac1;
     background: image-url('mission-background.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a{
      color:white;
      font-size: 1.5em;

    }
    a:hover{
      color: $brand-alternate;
    }
  }

  #portfolio .portfolio-item .portfolio-link .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(161,229,217,.9);
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
  }
  .submit{
    width:100%;
    margin: 0 auto;
    .btn-submit {
      border-color: #43cbb3;
      color: #43cbb3;
      margin: 0 auto;
    margin-top: 25px;
    width: 140px;
    display: table;
    }
  }
}

#posts h2{
  color:#f49ac1;
}

