<section id="more-info">
    <div>
        <div class="row grid-section">
            <a href="<%= skills_path %>" class="col-sm-6 awards grid-item">
                <div class="grid-heading">
                    <h3>Skills</h3>
                </div>
                <div class="grid-content">
                    <p>Discover what I know that helps me create wonderful things.</p>
                </div>
            </a>
            <a href="<%= posts_path %>" class="col-sm-6 awards grid-item">
                <div class="grid-heading">
                    <h3>Posts</h3>
                </div>
                <div class="grid-content">
                    <p>Browse writings of mine on an array of tech topics.</p>
                </div>
            </a>
        </div>
    </div>
</section>