 <section id="posts">
    <div>
        <div class="row grid-section">
            <a class="col-sm-12 awards grid-item">
                <div class="grid-heading">
                    <h3>Posts</h3>
                </div>
                <div class="grid-content">
                    <p>Browse my writings on a variety of topics from Coding to Travel.</p>
                </div>
            </a>
        </div>
    </div>
</section>