 <section id="recognition">
        <div>
           <!--  <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>What I Do</h2>
                        <p>I'm a freelance web developer that creates awesome applications and sites that are joy to use. I work with a variety of clients and have some cool side projects of my own, such as the site you are on right now.</p>
                    </div>
                </div>
            </div> -->
            <div class="row grid-section">
                <a class="col-sm-6 awards grid-item">
                    <div class="grid-heading">
                        <h3>Awards</h3>
                    </div>
                    <div class="grid-content">
                        <p>Learn more about my notable successes.</p>
                    </div>
                </a>
                <a class="col-sm-6 press grid-item">
                    <div class="grid-heading">
                        <h3>Press</h3>
                    </div>
                    <div class="grid-content">
                        <p>Read what others have to say about my journey.</p>
                    </div>
                </a>
            </div>
        </div>
</section>