 <section id="recognition">
    <div>
        <div class="row grid-section">
            <a class="col-sm-6 awards grid-item">
                <div class="grid-heading">
                    <h3>Awards</h3>
                </div>
                <div class="grid-content">
                    <p>Learn more about my notable successes.</p>
                </div>
            </a>
            <a class="col-sm-6 press grid-item">
                <div class="grid-heading">
                    <h3>Press</h3>
                </div>
                <div class="grid-content">
                    <p>Read what others have to say about my journey.</p>
                </div>
            </a>
        </div>
    </div>
</section>