 <!-- Portfolio Grid Section -->
 <%= render '/pages/home/projects' %>
 <%= render '/pages/home/project_icons' %>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 about">
                <p>I’m making tech inclusive and accessible to all women through education, collaboration, and code. By teaching and collaborating with under-served women and fostering honest conversations about diversity, I am dedicated towards creating a trans-inclusive tech community for women. </p>
            </div>
        </div>
    </div>
</section>
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center posts-title">
                <h2>Latest Posts</h2>
            
            </div>
            <hr>
        </div>
        <div ng-repeat="post in posts" class="row container">
            <div class="col-lg-8 col-lg-offset-2 post">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>{{post.title}}</h3>
                        </div>
                        <p>{{post.subtitle}}</p>
                        <h3><a target="_blank" href="{{post.url}}">Read More</a></h3>
                    </div>
            </div>
        </div>
    </div>
</section>
