<% content_for :header do %>
  <div class="intro-text">
      <span class="name">Open Source<span>
      <p class="page-description">Explore highlighted open source projects of mine.</p>
  </div>
<style>
   header:before{
  background: url('<%= asset_path('mission-background.jpg') %>') no-repeat center center fixed;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}
</style>

<% end %>

 <section id="projects">
    <div>
        <div class="row grid-section">
        <% @projects.each do |project| %>
            <a href="<%= project.website %>" target="_blank" class="col-sm-6 project grid-item">
                <div class="grid-heading">
                    <h3 class="no-text-transform"><%= project.name %></h3>
                </div>
                <div class="grid-content">
                    <p><%= project.description %></p>
                </div>
            </a>
          <% end %>
        </div>
    </div>
</section>