<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center posts-title">
                <h2>Latest Posts</h2>
            
            </div>
            <hr>
        </div>
        <div class="row container">
        <% @posts.each do |post| %>
            <div class="col-lg-8 col-lg-offset-2 post">
              <div class="caption">
                  <div class="caption-content">
                      <h3><%= post.title %></h3>
                  </div>
                  <p><%= post.subtitle %></p>
                  <h3><a target="_blank" href="<%= post.url %>">Read More</a></h3>
              </div>
            </div>
         <% end %>
        </div>
    </div>
</section>