<% content_for :header do %>
  <div class="intro-text">
      <span class="name">Posts<span>
      <p class="page-description">Various thoughts of mine on a wide-array of tech topics.</p>
  </div>
  <div class="col-lg-8 col-lg-offset-2 text-center">
      <!-- <a href="#portfolio" target="_self" class="btn btn-lg btn-outline">
          <i class="fa fa-email"></i> Work with me
      </a> -->
  </div>
<style>
   header:before{
  background: url('<%= asset_path('mission-background.jpg') %>') no-repeat center center fixed;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}
</style>

<% end %>

<section id="posts">
        <div class="row grid-section grid-stacked">
        <% @posts.each do |post| %>
            <a href="<%= post.url %>" target="blank" class="col-xs-12 post grid-item grid-item-stacked">
               <div class="grid-heading">
                      <h3><%= post.title %></h3>
                </div>
                <div class="grid-content">
                    <p><%= post.subtitle %></p>
                </div>
            </a>
         <% end %>
        </div>
</section>