#skills{
	padding:0;
}

.grid-section{
	> .skill{
		height: 350px;
		.grid-heading{
			padding-left: 35px;
			padding-right: 35px;
		}
		.grid-content{
			padding-left: 50px;
			padding-right: 50px;

		}
	}
}