.navbar-brand{
  margin-top: -20px;
}

#profile-img {

}

.navbar-default{
  transition:  background 0.5s ease-in 0s;
  background-color: rgba(255,255,255, 0.0);
  // background-color: rgba(244,154,193, 0.95);
//background-color: rgba(179,255,242, 0.95);
   //background-color: rgba(255,255,255,0.0);
   // -webkit-box-shadow: 0px 0px 20px 0px rgba(244,154,193, 0.95);;
   //   -moz-box-shadow: 0px 0px 20px 0px rgba(244,154,193, 0.95);;
   //        box-shadow: 0px 0px 20px 0px rgba(244,154,193, 0.95);;
}

.navbar-default .navbar-nav > li > a {
color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:white;
   background-color: #43cbb3;
}


header {
    text-align: center;
    color: #fff;
    position: relative;
  background: linear-gradient(rgba(244,154,193,0.45) 60%, rgba(255,255,255,1) 100%) !important;
}
header:before{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100%;
    content: "";
    z-index: -1;  /* to be below the parent element */
  background: image-url('background-heyellieday.jpg') no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#header-intro{
  margin: 0 auto;
  max-width: 750px;
  font-size: 1.7em;
  color: white;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #43cbb3;
}

footer .footer-below {
padding: 25px 0;
    background-color: #a1e5d9;
}

.btn-outline{
  border-radius:0px;
}

.about{
  text-align: center;
}

 h3{
    margin-bottom: 25px;
  }


section
    h2{
    margin-bottom: 25px;
  }
  
  .btn-social{
    border-radius:100%;
  }


.navbar-default .navbar-toggle .icon-bar{
  border-color:transparent;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}

.post { border-top: 1px solid #eeeeee; padding-bottom: 10px;}

body {
  font-family: 'Oxygen', serif;
}

.list-inline {
  margin-top: -20px;
  margin-left: -5px;
}
