<% content_for :header do %>
  <div class="intro-text">
      <span class="name">Work<span>
      <p class="page-description">Here are some of the great organizations I've worked with.</p>
  </div>
<style>
   header:before{
  background: url('<%= asset_path('mission-background.jpg') %>') no-repeat center center fixed;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}
</style>

<% end %>

 <section id="work">
    <div>
        <div class="row grid-section">
        <% @organizations.each do |organization| %>
            <a href="<%= organization.website %>" target="_blank" class="col-sm-6 organization grid-item">
                <div class="grid-heading">
                    <h3 class="no-text-transform"><%= organization.name %></h3>
                </div>
                <div class="grid-content">
                    <p><%= organization.description %></p>
                </div>
            </a>
          <% end %>
        </div>
    </div>
</section>