<% content_for :header do %>
  <div class="intro-text">
      <span class="name">Mentions<span>
      <p class="page-description">Here's what others had to say about what I do.</p>
  </div>
<style>
   header:before{
  background: url('<%= asset_path('mission-background.jpg') %>') no-repeat center center fixed;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}
</style>

<% end %>

 <section id="mentions">
    <div>
        <div class="row grid-section">
        <% @mentions.each do |mention| %>
            <a href="<%= mention.url %>" target="_blank" class="col-sm-6 mention grid-item">
                <div class="grid-heading">
                    <h3 class="no-text-transform"><%= mention.name %></h3>
                </div>
                <div class="grid-content">
                    <p><%= mention.description %></p>
                </div>
            </a>
          <% end %>
        </div>
    </div>
</section>
